#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
#dados{
    border: 1px solid black;

    align-items: center;
}
#container{
    align-items: center;
    justify-content: center;
}